{% extends "layout.html" %}
{% block content %}
  <div class="welcome-container text-center">
    {% if not user.name %}
      <h1>Hello!</h1>
      <p><em>Please add a name in your <a href="https://dashboard.stripe.com/account" target="_blank">Stripe Settings</a></em></p>
    {% else %}
      <h1>Hello, {{ user.name }}</h1>
    {% endif %}

    {% if user.donations.count() == 1 %}
      <h4>Sweet - You have <strong>1</strong> Jackson in your jar! <a href="{{ url_for('details') }}">Details >></a></h4>
    {% elif user.donations.count() > 1 %}
      <h4>Woah - You've got <strong>{{ user.donations.count() }}</strong> Jacksons in your jar! <a href="{{ url_for('details') }}">Details >></a></h4>
    {% endif %}
  </div>

  <div class="jar-container text-center">
    <a href="{{ url_for('jar', user_id=user.id) }}" target="_blank">
      <img class="logo" src="/static/img/jar.png" alt="Jackson Jar Logo">
    </a>
    <h3>Click on your <em>JacksonJar</em> to access it.</h3>
  </div>

  <div class="how-container text-center">
    <dl>
      <dt>Anyone can access your JacksonJar at:</dt>
      <dd>
        <code class="text-center">
          <a href="{{ url_for('jar', user_id=user.id) }}">https://jacksonjar.herokuapp.com/jar/{{ user.id }}</a>
        </code>
      </dd>
      <dt>You can add the <a href="/static/img/button.png" target="_blank">JacksonJar button</a> to your Markdown files using:</dt>
      <dd>
        <code class="text-left">
          [![JacksonJar](https://jacksonjar.herokuapp.com/static/img/button.png)](https://jacksonjar.herokuapp.com/jar/{{ user.id }})
        </code>
      </dd>
      <dt>You can embed the <a href="/static/img/button.png" target="_blank">JacksonJar button</a> anywhere using:</dt>
      <dd>
        <code class="text-left">
          &lt;a href="https://jacksonjar.herokuapp.com/jar/{{ user.id }}" title="JacksonJar"&gt;&lt;img src="https://jacksonjar.herokuapp.com/static/img/button@3x.png" alt="JacksonJar" /&gt;&lt;/a&gt;
        </code>
      </dd>
    </dl>
  </div>

  <hr>
  <footer>
    <div class="row text-center">
      <div class="col-md-6">
        <p><a href="https://dashboard.stripe.com/account" target="_blank">Stripe Settings</a></p>
      </div>
      <div class="col-md-6">
        <p><a href="{{ url_for('logout') }}">Logout</a></p>
      </div>
    </div>
  </footer>
{% endblock %}
